


<div class="container-fluid">
  <div class="row">
    <div class="col align-self-start">
        <app-basic-info [BasicInfo]="studentForm"></app-basic-info>
      </div>

    </div>
    <div class="row">
        <div class="col align-self-start">
            <app-address-info [AddressInfo]="studentForm.get('Address')"></app-address-info>
          </div>

    </div>
    <div class="col align-self-end alignright"  class="text-center">
      <button type="button" [disabled]="studentForm.invalid" (click)="onSubmit()">{{btnText}}</button>
    </div>
  </div>
