<table class="table">
    <tr>
        <th>S.No</th>
        <th>StudentName</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>City</th>
        <th>State</th>
      
    </tr>
    <tr *ngFor="let stu of studs; let i = index">
        <td>{{i + 1}}</td>
        <td (click)="show(stu.id)"  style="color: blue; cursor: pointer;"> {{stu.StudentName}}</td>
        <td>{{stu.Email}}</td>
        <td>{{stu.Mobile}}</td>

        <td>{{stu.Address.City}}</td>
        <td>{{stu.Address.State}}</td>

    </tr>
</table>

<br>
<input type="button" (click)="AddStudent()" value="Add New">